<!DOCTYPE html>
<html>
<!--
   This is <%= grunt.config('pkg').name %> v<%= grunt.config('pkg').version %>
   (C) 2013 by Timo Dörr and contributors. This software is licensed
   under the terms of the GNU GPLv3 with additional terms applied.
   See https://github.com/Dynalon/mdwiki/blob/master/LICENSE.txt for more detail.
   See http://github.com/Dynalon/mdwiki for a copy of the source code.
-->
<head>
    <title>MDwiki Editor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="fragment" content="!">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.png" />
    <meta charset="UTF-8">
    <style type="text/css">
    /* hide the main content while we assemble everything */
    .md-hidden-load { display: none; }

    #md-editor {
        height: 100vh;
        display: flex;
        flex-flow: column wrap;
    }

    #md-editor > * {
        display: block;
    }

    #md-editor textarea {
        font-family: monospace;
    }

    #md-editor-text {
        flex: auto;
    }

    .md-editor-fixed {
        flex: none;
    }
    </style>

<%
    var task = grunt.config('currentTask').name;
    grunt.log.writeln('Building single index.html of type: ' + task);

    var ownJsFileFull = grunt.config('concat').dev.dest;
    var ownJsFileMin = grunt.config('uglify').dist.dest;

    var internalJsFiles = grunt.config('internalJsFiles');
    var internalCssFiles = grunt.config('internalCssFiles');

    var externalJsRefs = grunt.config('externalJsRefs');
    var externalCssRefs = grunt.config('externalCssRefs');

    function print_script_ref(ref) {
        print('<script type="text/javascript" src="' + ref + '"></script>\n');
    }
    function print_style_ref(ref) {
        print('<link rel="stylesheet" href="' + ref + '" type="text/css"></link>\n');
    }
    function print_script_inline(name, content) {
        print('<!-- START ' + name + ' -->\n');
        print('<script type="text/javascript">');
        print(content);
        print('</script>\n');
        print('<!-- END ' + name + ' -->\n');
    }
    function print_style_inline(name, content) {
        print('<!-- START ' + name + ' -->\n');
        print('<style id="style:' + name + '">');
        print(content);
        print('</style>');
        print('<!-- END ' + name + ' -->\n');
    }

    // INCLUDE REFERENCES TO CDN

    // css
    for(var i = 0, len = externalCssRefs.length; i < len; i++) {
        print_style_ref(externalCssRefs[i]);
    }

    // js
    for(var i = 0, len = externalJsRefs.length; i < len; i++) {
        print_script_ref(externalJsRefs[i]);
    }

    // STUFF WE ALWAYS INLINE (not available on any CDN)
    for(var i = 0, len = internalCssFiles.length; i < len; i++) {
        var fileContent = grunt.file.read(internalCssFiles[i]);
        print_style_inline(internalCssFiles[i], fileContent);
    }
    for(var i = 0, len = internalJsFiles.length; i < len; i++) {
        var fileContent = grunt.file.read(internalJsFiles[i]);
        print_script_inline(internalJsFiles[i], fileContent);
    }

    // OUR OWN CODE
    var fileContent = '';
    if (task === 'debug') {
        fileContent = grunt.file.read(ownJsFileFull);
        print_script_inline(ownJsFileFull, fileContent);
    } else {
        fileContent = grunt.file.read(ownJsFileMin);
        print_script_inline(ownJsFileMin, fileContent);
    }

    if (task === 'debug') {
        print('<script type="text/javascript">$.md.logThreshold = $.md.loglevel.DEBUG;</script>')
    }

%>
    <script type="text/javascript">
        $.md.editor = true;
    </script>
</head>
<body>
    <noscript>
        This website requires Javascript to be enabled. Please turn on Javascript
        and reload the page.
    </noscript>

    <form id="md-editor">
        <h1 id="md-editor-title" class="md-editor-fixed h3">Edit</h1>
        <input id="md-editor-path" type="hidden" name="path">
        <textarea id="md-editor-text" name="text" class="form-control"></textarea>
        <div class="md-editor-fixed md-editor-buttons">
            <button class="btn btn-primary">Save</button>
            <button class="btn btn-default" type="button" onclick="history.back();">Cancel</button>
            <a href="http://dynalon.github.io/mdwiki/#!quickstart.md" target="_blank">MDwiki Quick Start</a>
        </div>
    </form>
</body>
</html>
